{% extends "base.html" %}

{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    <form action="{{ url_for('main.pay', price=price, subs_expiration=subs_expiration, subs_id=subs_id) }}" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ pub_key }}"
            data-amount="{{ price }}"
            data-name="Buy Subscribe"
            data-description="Payment"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
        </form>
{% endblock %}