{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Current Post') }}</h1>
    {% include '_post.html' %}

    {% with total_likes=post.liked_by.count(), users_like=post.liked_by.all() %}
        <div class="image-info">
            <div>
            <span class="count">
                <span class="total">{{ total_likes }}</span>
                </span>

                    <a id='like' href="#" data-id="{{ post.id }}" data-action="{% if current_user in users_like %}un{% endif %}like"
                       class="like button">
                        {% if current_user not in users_like %}
                            Like
                        {% else %}
                            Unlike
                        {% endif %}
                    </a>
            </span>
            </div>
        </div>
    {% endwith %}


    <h1>{{ _('Comments:') }}</h1>
    {% for comment in comments %}
    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=comment.commentator.username) }}">
                    <img src="{{ comment.commentator.avatar(70) }}"/>
                </a>
            </td>
            <td>
                {% set user_link %}
                <a href="{{ url_for('main.user', username=comment.commentator.username) }}">
                    {{ comment.commentator.username }}
                </a>
                {% endset %}
                {{ _('%(username)s said %(when)s', username=user_link, when=moment(comment.timestamp).fromNow()) }},
                <br>
                <span id="post{{ comment.id }}">{{ comment.body }}</span>
                {% if comment.language and comment.language != g.locale %}
                    <br><br>
                    <span id="translation{{ comment.id }}">
                                <a href="javascript:translate(
                                            '#comment{{ comment.id }}',
                                            '#translation{{ comment.id }}',
                                            '{{ comment.language }}',
                                            '{{ g.locale }}');">{{ _('Translate') }}</a>
                            </span>
                {% endif %}
            </td>
        </tr>
    </table>
    {% endfor %}
    {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
    {% endif %}
    {% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('a#like').bind('click', (function (e) {
                e.preventDefault();
                $.post('/post/like', {id: $(this).data('id')},
                    function (data) {
                        if (data['status'] == 'ok') {
                            var previous_action = $('a.like').data('action');
                            $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                            $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');
                            $('span.count .total').text(data['post_total_likes']);
                        }
                    }
                );
            }));
        });
    </script>
{% endblock %}